org.springframework.integration/src/main/java/org/springframework/integration/config/spring-integration-core-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.springframework.org/schema/integration"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:tool="http://www.springframework.org/schema/tool"
		targetNamespace="http://www.springframework.org/schema/integration"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool"/>

	<xsd:annotation>
		<xsd:documentation><![CDATA[
	Defines the core configuration elements for Spring Integration.
		]]></xsd:documentation>
	</xsd:annotation>

	<xsd:element name="message-bus">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a message bus.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="interceptor" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="ref" type="xsd:string" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="auto-startup" type="xsd:boolean"/>
			<xsd:attribute name="task-scheduler" type="xsd:string"/>
			<xsd:attribute name="configure-async-event-multicaster" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="annotation-driven">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Enables the annotation-driven post-processors.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="channel" type="channelType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a generic channel type. The actual channel type 
	will be determined by the channel factory set on the message bus.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="queue-channel" type="capacityChannelType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a channel that buffers messages in a queue.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="publish-subscribe-channel">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a publish-subscribe channel that broadcasts to its targets.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="channelType">
					<xsd:attribute name="task-executor" type="xsd:string"/>
					<xsd:attribute name="apply-sequence" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="direct-channel" type="channelType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a channel that invokes its handlers directly in the sender's thread.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="priority-channel">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a channel with priority-ordering for message reception.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="capacityChannelType">
					<xsd:attribute name="comparator" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="rendezvous-channel" type="channelType"/>

	<xsd:element name="thread-local-channel" type="channelType"/>

	<xsd:complexType name="capacityChannelType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a channel with a configurable capacity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="channelType">
				<xsd:attribute name="capacity" type="xsd:integer"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="channelType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a message channel.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="interceptors" type="channelInterceptorsType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="required"/>
		<xsd:attribute name="datatype" type="xsd:string"/>
	</xsd:complexType>

	<xsd:element name="gateway">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a Messaging Gateway.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:ID" use="required"/>
			<xsd:attribute name="service-interface" type="xsd:string" use="required"/>
			<xsd:attribute name="request-channel" type="xsd:string"/>
			<xsd:attribute name="reply-channel" type="xsd:string" use="optional"/>
			<xsd:attribute name="request-timeout" type="xsd:long"/>
			<xsd:attribute name="reply-timeout" type="xsd:long"/>
			<xsd:attribute name="message-mapper" type="xsd:string"/>
			<xsd:attribute name="message-creator" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="channel-adapter">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a Channel Adapter that is capable of either receiving from a MessageSource and sending
	the result to a MessageChannel or receiving from a MessageChannel and sending the result to a
	MessageTarget. Therefore, either "source" or "target" should be provided (but never both).
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element ref="poller" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="source" type="xsd:string"/>
			<xsd:attribute name="target" type="xsd:string"/>
			<xsd:attribute name="method" type="xsd:string"/>
			<xsd:attribute name="channel" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="service-activator" type="inputOutputHandlerEndpointType">
		<xsd:annotation>
			<xsd:documentation>
	Defines an endpoint for exposing any bean reference as a service that receives
	request Messages from an 'input-channel' and may send reply Messages to an
	'output-channel'. The 'method' attribute is also required unless the 'ref'
	points to a bean that is itself an implementation of MessageHandler.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="inputOutputHandlerEndpointType">
		<xsd:annotation>
			<xsd:documentation>
	Base type for handler endpoint elements that accept Messages from an input-channel
	and also produce Messages to be sent to an output-channel.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="inputHandlerEndpointType">
				<xsd:attribute name="output-channel" type="xsd:string"/>
				<xsd:attribute name="return-address-overrides" type="xsd:boolean" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="inputHandlerEndpointType">
		<xsd:annotation>
			<xsd:documentation>
	Base type for handler endpoint elements that accept Messages from an input-channel.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:all>
					<xsd:element ref="poller" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="interceptors" type="endpointInterceptorsType" minOccurs="0" maxOccurs="1"/>
				</xsd:all>
				<xsd:attribute name="ref" type="xsd:string" use="required"/>
				<xsd:attribute name="method" type="xsd:string"/>
				<xsd:attribute name="input-channel" type="xsd:string" use="required"/>
				<xsd:attribute name="selector" type="xsd:string"/>
				<xsd:attribute name="error-handler" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="poller">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a poller.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="transactional" type="transactionalType" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="period" type="xsd:long"/>
			<xsd:attribute name="cron" type="xsd:string"/>
			<xsd:attribute name="initial-delay" type="xsd:long"/>
			<xsd:attribute name="fixed-rate" type="xsd:boolean"/>
			<xsd:attribute name="receive-timeout" type="xsd:long"/>
			<xsd:attribute name="send-timeout" type="xsd:long"/>
			<xsd:attribute name="max-messages-per-poll" type="xsd:long"/>
			<xsd:attribute name="task-executor" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="handler-chain">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a MessageHandler chain.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element ref="handler" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="handler">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a MessageHandler.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="ref" type="xsd:string" use="required"/>
			<xsd:attribute name="method" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="selector-chain">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a MessageSelector chain.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element ref="selector" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="selector">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Provides a MessageSelector reference.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="ref" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="concurrencyInterceptorType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a ConcurrencyInterceptor for endpoints.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="task-executor" type="xsd:string"/>
		<xsd:attribute name="core" type="xsd:int"/>
		<xsd:attribute name="max" type="xsd:int"/>
		<xsd:attribute name="queue-capacity" type="xsd:int"/>
		<xsd:attribute name="keep-alive" type="xsd:int"/>
	</xsd:complexType>

	<xsd:element name="pool-executor">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a ThreadPoolTaskExecutor.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:ID" use="required"/>
			<xsd:attribute name="core-size" type="xsd:int" use="optional" default="1"/>
			<xsd:attribute name="max-size" type="xsd:int" use="optional" default="10"/>
			<xsd:attribute name="queue-capacity" type="xsd:int" use="optional" default="0"/>
			<xsd:attribute name="keep-alive-seconds" type="xsd:int" use="optional" default="60"/>
			<xsd:attribute name="rejection-policy" default="CALLER_RUNS">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	The RejectedExecutionHandler type.
					]]></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ABORT"/>
					<xsd:enumeration value="CALLER_RUNS"/>
					<xsd:enumeration value="DISCARD"/>
					<xsd:enumeration value="DISCARD_OLDEST"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="router" type="inputHandlerEndpointType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a Router.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="splitter" type="inputOutputHandlerEndpointType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a Splitter.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="aggregator">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines an aggregating message handler.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="inputOutputHandlerEndpointType">
					<xsd:attribute name="completion-strategy" type="xsd:string" use="optional"/>
					<xsd:attribute name="completion-strategy-method" type="xsd:string" use="optional"/>
					<xsd:attribute name="discard-channel" type="xsd:string" use="optional"/>
					<xsd:attribute name="send-timeout" type="xsd:long" use="optional"/>
					<xsd:attribute name="send-partial-result-on-timeout"  type="xsd:boolean" use="optional"/>
					<xsd:attribute name="tracked-correlation-id-capacity" type="xsd:int" use="optional"/>
					<xsd:attribute name="reaper-interval" type="xsd:long" use="optional"/>
					<xsd:attribute name="timeout" type="xsd:long" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="resequencer">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a resequencing message handler.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="output-channel" type="xsd:string" use="optional"/>
					<xsd:attribute name="discard-channel" type="xsd:string" use="optional"/>
					<xsd:attribute name="send-timeout" type="xsd:long" use="optional"/>
					<xsd:attribute name="release-partial-sequences" type="xsd:boolean" use="optional"/>
					<xsd:attribute name="send-partial-result-on-timeout"  type="xsd:boolean" use="optional"/>
					<xsd:attribute name="tracked-correlation-id-capacity" type="xsd:int" use="optional"/>
					<xsd:attribute name="reaper-interval" type="xsd:long" use="optional"/>
					<xsd:attribute name="timeout" type="xsd:long" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="completion-strategy">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a completion strategy.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="ref" type="xsd:string" use="required"/>
			<xsd:attribute name="method" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="channelInterceptorsType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a list of interceptors. Each element may be a ChannelInterceptor, ref, or inner-bean.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="ref" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="bean" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="wire-tap" type="wireTapType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="wireTapType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a Wire Tap Channel Interceptor.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="target" type="xsd:string" use="required"/>
		<xsd:attribute name="selector" type="xsd:string" use="optional"/>
		<xsd:attribute name="timeout" type="xsd:long" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="endpointInterceptorsType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a list of interceptors. Each element may be an EndpointInterceptor, ref, or inner-bean.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="ref" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="bean" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="transaction-interceptor" type="transactionalType" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="concurrency-interceptor" type="concurrencyInterceptorType" minOccurs="0" maxOccurs="1"/>
				<xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="transactionalType">
		<xsd:attribute name="transaction-manager" type="xsd:string" default="transactionManager">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
	The bean name of the PlatformTransactionManager to use.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="propagation" default="REQUIRED">
			<xsd:annotation>
				<xsd:documentation source="java:org.springframework.transaction.annotation.Propagation"><![CDATA[
	The transaction propagation behavior.
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="REQUIRED"/>
					<xsd:enumeration value="SUPPORTS"/>
					<xsd:enumeration value="MANDATORY"/>
					<xsd:enumeration value="REQUIRES_NEW"/>
					<xsd:enumeration value="NOT_SUPPORTED"/>
					<xsd:enumeration value="NEVER"/>
					<xsd:enumeration value="NESTED"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="isolation" default="DEFAULT">
			<xsd:annotation>
				<xsd:documentation source="java:org.springframework.transaction.annotation.Isolation"><![CDATA[
	The transaction isolation level.
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="DEFAULT"/>
					<xsd:enumeration value="READ_UNCOMMITTED"/>
					<xsd:enumeration value="READ_COMMITTED"/>
					<xsd:enumeration value="REPEATABLE_READ"/>
					<xsd:enumeration value="SERIALIZABLE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="timeout" type="xsd:integer" default="-1">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
	The transaction timeout value (in seconds).
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="read-only" type="xsd:boolean" default="false">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
	Is this transaction read-only?
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

</xsd:schema>