org.springframework.integration/src/main/java/org/springframework/integration/config/spring-integration-core-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.springframework.org/schema/integration"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:tool="http://www.springframework.org/schema/tool"
		targetNamespace="http://www.springframework.org/schema/integration"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool"/>

	<xsd:annotation>
		<xsd:documentation><![CDATA[
	Defines the core configuration elements for Spring Integration.
		]]></xsd:documentation>
	</xsd:annotation>

	<xsd:element name="message-bus">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a message bus.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="default-concurrency" type="concurrencyType" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="interceptor" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="auto-startup" type="xsd:boolean"/>
			<xsd:attribute name="auto-create-channels" type="xsd:boolean"/>
			<xsd:attribute name="channel-factory" type="xsd:string"/>
			<xsd:attribute name="error-channel" type="xsd:string"/>
			<xsd:attribute name="dispatcher-pool-size" type="xsd:int"/>
			<xsd:attribute name="configure-async-event-multicaster" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="annotation-driven">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Enables the annotation-driven post-processors.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="channel" type="channelType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a generic channel type. The actual channel type 
	will be determined by the channel factory set on the message bus.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="queue-channel" type="capacityChannelType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a channel that buffers messages in a queue.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="direct-channel">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a channel that invokes its handlers directly in the sender's thread.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="channelType">
					<xsd:attribute name="source" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="priority-channel">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a channel with priority-ordering for message reception.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="capacityChannelType">
					<xsd:attribute name="comparator" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="rendezvous-channel" type="channelType"/>

	<xsd:element name="thread-local-channel" type="channelType"/>

	<xsd:complexType name="capacityChannelType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a channel with a configurable capacity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="channelType">
				<xsd:attribute name="capacity" type="xsd:integer"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="channelType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a message channel.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="dispatcher-policy" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="interceptor" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="secured" type="securedType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="required"/>
		<xsd:attribute name="publish-subscribe" type="xsd:boolean" default="false"/>
		<xsd:attribute name="datatype" type="xsd:string"/>
	</xsd:complexType>

	<xsd:element name="interceptor">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Provides a channel interceptor reference.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="ref" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="gateway">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a Messaging Gateway.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:ID" use="required"/>
			<xsd:attribute name="service-interface" type="xsd:string" use="required"/>
			<xsd:attribute name="request-channel" type="xsd:string"/>
			<xsd:attribute name="reply-channel" type="xsd:string" use="optional"/>
			<xsd:attribute name="request-timeout" type="xsd:long"/>
			<xsd:attribute name="reply-timeout" type="xsd:long"/>
			<xsd:attribute name="message-mapper" type="xsd:string"/>
			<xsd:attribute name="message-creator" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="source-endpoint">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a source endpoint.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:sequence>
						<xsd:element ref="schedule" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
					<xsd:attribute name="source" type="xsd:string" use="required"/>
					<xsd:attribute name="channel" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="source-adapter" type="methodInvokingAdapterType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a MethodInvokingSource.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="target-endpoint">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a target endpoint.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="targetEndpointType">
					<xsd:attribute name="target" type="xsd:string" use="required"/>
					<xsd:attribute name="method" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="target-adapter" type="methodInvokingAdapterType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a MethodInvokingTarget.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="handler-endpoint">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines an endpoint for a MessageHandler.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="targetEndpointType">
					<xsd:attribute name="handler" type="xsd:string" use="required"/>
					<xsd:attribute name="method" type="xsd:string"/>
					<xsd:attribute name="output-channel" type="xsd:string"/>
					<xsd:attribute name="reply-handler" type="xsd:string"/>
					<xsd:attribute name="return-address-overrides" type="xsd:boolean" default="false"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="schedule">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a schedule.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="period" type="xsd:int"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="handler-chain">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a MessageHandler chain.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element ref="handler" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="handler">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a handler.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="ref" type="xsd:string" use="required"/>
			<xsd:attribute name="method" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dispatcher-policy">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a dispatcher policy.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="max-messages-per-task" type="xsd:int"/>
			<xsd:attribute name="receive-timeout" type="xsd:long"/>
			<xsd:attribute name="rejection-limit" type="xsd:int"/>
			<xsd:attribute name="retry-interval" type="xsd:long"/>
			<xsd:attribute name="should-fail-on-rejection-limit" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="concurrencyType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a concurrency policy.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="core" type="xsd:int"/>
		<xsd:attribute name="max" type="xsd:int"/>
		<xsd:attribute name="queue-capacity" type="xsd:int"/>
		<xsd:attribute name="keep-alive" type="xsd:int"/>
	</xsd:complexType>

	<xsd:element name="router">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a Router.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="ref" type="xsd:string" use="required"/>
			<xsd:attribute name="method" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="splitter">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a Splitter.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="ref" type="xsd:string" use="required"/>
			<xsd:attribute name="method" type="xsd:string" use="required"/>
			<xsd:attribute name="output-channel" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="aggregator">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines an aggregating message handler.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:sequence>
						<xsd:element name="completion-strategy" minOccurs="0" maxOccurs="1"/>
					</xsd:sequence>
					<xsd:attribute name="ref" type="xsd:string" use="required"/>
					<xsd:attribute name="method" type="xsd:string" use="optional"/>
					<xsd:attribute name="completion-strategy" type="xsd:string" use="optional"/>
					<xsd:attribute name="completion-strategy-method" type="xsd:string" use="optional"/>
					<xsd:attribute name="default-reply-channel" type="xsd:string" use="optional"/>
					<xsd:attribute name="discard-channel" type="xsd:string" use="optional"/>
					<xsd:attribute name="send-timeout" type="xsd:long" use="optional"/>
					<xsd:attribute name="send-partial-result-on-timeout"  type="xsd:boolean" use="optional"/>
					<xsd:attribute name="tracked-correlation-id-capacity" type="xsd:int" use="optional"/>
					<xsd:attribute name="reaper-interval" type="xsd:long" use="optional"/>
					<xsd:attribute name="timeout" type="xsd:long" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="resequencer">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a resequencing message handler.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="default-reply-channel" type="xsd:string" use="optional"/>
					<xsd:attribute name="discard-channel" type="xsd:string" use="optional"/>
					<xsd:attribute name="send-timeout" type="xsd:long" use="optional"/>
					<xsd:attribute name="release-partial-sequences" type="xsd:boolean" use="optional"/>
					<xsd:attribute name="send-partial-result-on-timeout"  type="xsd:boolean" use="optional"/>
					<xsd:attribute name="tracked-correlation-id-capacity" type="xsd:int" use="optional"/>
					<xsd:attribute name="reaper-interval" type="xsd:long" use="optional"/>
					<xsd:attribute name="timeout" type="xsd:long" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="completion-strategy">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a completion strategy.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="ref" type="xsd:string" use="required"/>
			<xsd:attribute name="method" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="targetEndpointType">
		<xsd:annotation>
			<xsd:documentation>
	Defines common configuration properties of target message endpoints.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:all>
					<xsd:element ref="schedule" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="concurrency" type="concurrencyType" minOccurs="0" maxOccurs="1"/>
				</xsd:all>
				<xsd:attribute name="input-channel" type="xsd:string" use="required"/>
				<xsd:attribute name="error-handler" type="xsd:string"/>
				<xsd:attribute name="selector" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="methodInvokingAdapterType">
		<xsd:annotation>
			<xsd:documentation>
	Base type for method-invoking adapters.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:attribute name="ref" type="xsd:string" use="required"/>
				<xsd:attribute name="method" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="secure-channels" type="secureChannelsType"/>

	<xsd:complexType name="securedType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a security interceptor.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="receive-access" type="xsd:string"/>
		<xsd:attribute name="send-access" type="xsd:string"/>
		<xsd:attribute name="access-decision-manager" type="xsd:string"/>
		<xsd:attribute name="propagate" type="xsd:boolean" default="true"/>
	</xsd:complexType>

	<xsd:complexType name="secureChannelsType">
		<xsd:annotation>
			<xsd:documentation>
	Defines a bean post processor which propagates the security context.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="propagate" type="xsd:boolean" default="true"/>
	</xsd:complexType>

</xsd:schema>