org.springframework.integration.adapter/src/main/java/org/springframework/integration/adapter/config/spring-integration-adapters-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.springframework.org/schema/integration"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:tool="http://www.springframework.org/schema/tool"
		targetNamespace="http://www.springframework.org/schema/integration"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool"/>

	<xsd:annotation>
		<xsd:documentation><![CDATA[
	Defines the configuration elements for Spring Integration adapters.
		]]></xsd:documentation>
	</xsd:annotation>

	<xsd:element name="file-source">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a file-based source channel adapter.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="directory" type="xsd:string" use="required"/>
			<xsd:attribute name="type" type="fileSourceType" use="optional"/>
			<xsd:attribute name="message-creator" type="xsd:string" use="optional"/>
			<xsd:attribute name="file-filter" type="xsd:string"/>
			<xsd:attribute name="filename-filter" type="xsd:string"/>
			<xsd:attribute name="filename-pattern" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="file-target">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a file-based target.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="directory" type="xsd:string" use="required"/>
			<xsd:attribute name="name-generator" type="xsd:string" use="optional"/>		
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ftp-source">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines an ftp-receiving target channel adapter.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="username" type="xsd:string" use="optional"/>
			<xsd:attribute name="password" type="xsd:string" use="optional"/>
			<xsd:attribute name="host" type="xsd:string" use="required"/>
			<xsd:attribute name="port" type="xsd:int" use="optional"/>
			<xsd:attribute name="local-working-directory" type="xsd:string" use="required"/>
			<xsd:attribute name="remote-working-directory" type="xsd:string" use="optional"/>
			<xsd:attribute name="type" type="fileSourceType" use="optional"/>
			<xsd:attribute name="message-creator" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="jms-source">
		<xsd:annotation>
			<xsd:documentation>
	Defines a JMS-based source channel adapter.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="jmsInboundAdapterType">
					<xsd:attribute name="header-mapper" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="jms-gateway">
		<xsd:annotation>
			<xsd:documentation>
	Defines a JMS-based gateway adapter.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="jmsInboundAdapterType">
					<xsd:attribute name="message-converter" type="xsd:string"/>
					<xsd:attribute name="expect-reply" type="xsd:boolean" default="false"/>
					<xsd:attribute name="request-channel" type="xsd:string" use="required"/>
					<xsd:attribute name="reply-channel" type="xsd:string"/>
					<xsd:attribute name="request-timeout" type="xsd:long"/>
					<xsd:attribute name="reply-timeout" type="xsd:long"/>
					<xsd:attribute name="transaction-manager" type="xsd:string"/>
					<xsd:attribute name="concurrent-consumers" type="xsd:string"/>
					<xsd:attribute name="max-concurrent-consumers" type="xsd:string"/>
					<xsd:attribute name="max-messages-per-task" type="xsd:string"/>
					<xsd:attribute name="idle-task-execution-limit" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="jms-target">
		<xsd:annotation>
			<xsd:documentation>
	Defines a target that sends JMS Messages.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="jmsAdapterType">
					<xsd:attribute name="header-mapper" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="jmsInboundAdapterType">
		<xsd:annotation>
			<xsd:documentation>
	Common configuration for inbound JMS-based adapters.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="jmsAdapterType">
				<xsd:attribute name="acknowledge" default="auto">
					<xsd:annotation>
						<xsd:documentation><![CDATA[
	The native JMS acknowledge mode: "auto", "client", "dups-ok" or "transacted".
	The latter effectively activates a locally transacted Session.
						]]></xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:NMTOKEN">
							<xsd:enumeration value="auto"/>
							<xsd:enumeration value="client"/>
							<xsd:enumeration value="dups-ok"/>
							<xsd:enumeration value="transacted"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="jmsAdapterType">
		<xsd:annotation>
			<xsd:documentation>
	Common configuration for JMS-based adapters.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="jms-template" type="xsd:string"/>
		<xsd:attribute name="connection-factory" type="xsd:string"/>
		<xsd:attribute name="destination" type="xsd:string"/>
		<xsd:attribute name="destination-name" type="xsd:string"/>
	</xsd:complexType>

	<xsd:element name="rmi-gateway">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines an RMI-based gateway adapter.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexContent>
				<xsd:extension base="gatewayType">
					<xsd:attribute name="registry-host" type="xsd:string"/>
					<xsd:attribute name="registry-port" type="xsd:integer"/>
					<xsd:attribute name="remote-invocation-executor" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="rmi-handler">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines an RMI-based MessageHandler adapter.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="host" type="xsd:string" use="required"/>
			<xsd:attribute name="port" type="xsd:integer"/>
			<xsd:attribute name="remote-channel" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="httpinvoker-gateway" type="gatewayType">
		<xsd:annotation>
			<xsd:documentation>
	Defines an HttpInvoker-based gateway adapter.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="httpinvoker-handler">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines an HttpInvoker-based MessageHandler adapter.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="url" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="mail-target">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a mail-sending target.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="mail-sender" type="xsd:string"/>
			<xsd:attribute name="header-generator" type="xsd:string"/>
			<xsd:attribute name="host" type="xsd:string"/>
			<xsd:attribute name="username" type="xsd:string"/>
			<xsd:attribute name="password" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="polling-mail-source">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a polling mail source.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:string" use="required"/>
			<xsd:attribute name="store-uri" type="xsd:string" use="required"/>
			<xsd:attribute name="mail-convertor" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="imap-idle-mail-source">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Defines a polling mail source.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:string" use="required"/>
			<xsd:attribute name="store-uri" type="xsd:string" use="required"/>
			<xsd:attribute name="task-executor" type="xsd:string" use="required"/>
			<xsd:attribute name="mail-convertor" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	
	
	

	<xsd:element name="console-source">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Configures a source that reads from stdin (System.in).
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="charset" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="console-target">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
	Configures a target that writes to stdout (System.out) or to stderr (System.err)
	if the "error" attribute is set to true.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="charset" type="xsd:string"/>
			<xsd:attribute name="error" type="xsd:boolean" default="false"/>
			<xsd:attribute name="append-newline" type="xsd:boolean" default="false"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="gatewayType">
		<xsd:annotation>
			<xsd:documentation>
	Defines common configuration for gateway adapters.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:ID"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="expect-reply" type="xsd:boolean" default="true"/>
		<xsd:attribute name="request-channel" type="xsd:string" use="required"/>
		<xsd:attribute name="reply-channel" type="xsd:string"/>
		<xsd:attribute name="request-timeout" type="xsd:long"/>
		<xsd:attribute name="reply-timeout" type="xsd:long"/>
	</xsd:complexType>
			
	<xsd:simpleType name="fileSourceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="text"/>
			<xsd:enumeration value="binary"/>
			<xsd:enumeration value="file"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>